:root {
    --primary-color: navy;
    --secondary-color: turquoise;
    --tertiary-color: rgb(207, 207, 207);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--tertiary-color);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--tertiary-color);
}


/* header section */

header {
    padding: 20px 35px;
    background-color: turquoise;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: navy;
}

header h1 {
    font-weight: bold;
    font-size: 72px;
    color: navy;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 40% 40px 0;
}

header a {
    text-decoration: none;
    color: navy;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}

header nav ul li {
    padding: 5px;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

.about-me ul {
    display: none;
}

.about-me:hover ul {
    display: block;
}

.projects ul {
    display: none;
}

.projects:hover ul {
    display: block;
}

/* hero section */

.hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.hero-cta {
    width: 35%;
    text-align: left;
    margin: 3.5%;
    color: var(--primary-color);
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-form {
    border: 3px solid var(--secondary-color);
    background-color: var(--secondary-color);
    padding: 20px;
    color: var(--primary-color);
    width: 40%;
    margin: 3.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

.hero-form button {
    color: var(--primary-color);
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
}

.hero-form button:hover {
    background-color: var(--tertiary-color);  
}

.hero-form h3 {
    font-size: 24px;
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px; 
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.form-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

/* about me section */

.about {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 50px auto;
    padding-bottom: 50px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.about h3 {
    font-size: 46px;
    flex: 1 30%;
}

.img-me {
    flex: 1 12%;
    margin-right: 20px;
}

.img-me img {
    max-width: 100%;
    padding: 20px;
}

.about-text {
    flex: 12;
}

/* projects section */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
}

.project-main {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    max-width: 62%;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-desc h3 {
    font-size: 46px;
    flex: 1 30%;
}

.project-img {
    display: flex;
    flex-wrap: wrap;
    flex: 1 70%;
    margin-right: 20px;
}

.project-img img {
    max-width: 50%;
    padding: 5px;
}

.coming-soon {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding-bottom: 50px;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.project-img2 {
    display: flex;
    flex-wrap: wrap;
    flex: 1 65%;
    margin-right: 5px;
}

.project-img2 img {
    max-width: 50%;
    padding: 20px;
}

.project-desc {
    flex: 12;
}

/* footer section */
footer {
    background-color: var(--secondary-color);
    color: var(--primary-color)
}

footer h2 {
    color: var(--primary-color);
}

footer p span {
    font-weight: bold;
    color: var(--primary-color);
}

/* MEDIA QUERY FOR SMALLER DISPLAYS */
@media screen and (max-width: 980px){
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    
    header h1 {
        width: 100%;
        
    }
}



@media screen and (max-width: 768px){

}



@media screen and (max-width: 575px){

}
